[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OmicSense"]
	path = OmicSense
	url = https://github.com/takakoizumi/omicsense
